* {
    margin: 0;
    padding: 0;
}

header{
    justify-content: space-between;
    display: flex;
    background-color: pink;
    height: 5rem;
}

main{
    display: flex;
    justify-content: space-between;

}

section{
    display: block;
}

.musica{
    background-color: orange;
    width: 20%;
    height: 35.1rem ;
}