* {
    margin: 0;
    padding: 0;
}

header{
    justify-content: space-between;
    display: flex;
    background-color: pink;
    height: 5rem;
}

main{
    display: flex;
    justify-content: space-between;

}
.info{
    background-color: blue;
    height: 35.1rem;
    width: 35%;
   
font-size: larger;}

section{
    background-color: yellow;
    height: 35.1rem ;
    width: 35%;
}

.musica{
    background-color: orange;
    width: 20%;
    
}