.starts{
    position: relative;
    left: 31rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
    
}

.starts2 {
    position: relative;
    left: 26.7rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
    
}
.starts3{
    position: relative;
    left: 32.9rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
}
.starts4{
    position: relative;
    left: 34.7rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
}
.starts5{
    position: relative;
    left: 30.9em;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
}
.starts6{
    position: relative;
    left: 31.1rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
}
.starts7{
    position: relative;
    left: 27.2rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
}
.starts8{
    position: relative;
    left: 30.5rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
}
.starts9{
    position: relative;
    left: 35rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
}

.starts10{
    position: relative;
    left: 31.5rem;
    transform: translateY(10%);
    align-items: center;
    padding-bottom: 0.2rem;
}